/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}

#navEdition {
	width:100%;
	background-color: black;
	justify-content: center;
	align-items: center;
	padding: 10px 0;
	}

#navEdition li{
	list-style-type: none;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	color: black;
}

#navEdition li.liblack{
	color:white;
}

#navEdition li.publier{
	line-height: 30px;
	text-align: center;
	background-color: white;
	text-align: center;
	border-radius: 60px;
}

.isLoggedIn{
	display: none;
}

.show{
	display: flex;
}

.hide {
	display: none;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

a{
	text-decoration: none;
	color :black;
}



#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

.finintroduction{
	margin: 5px 0 0 57px ;
}

#portfolio h2 {
	text-align: center;
}

button {
	font-weight: 700;
	font-size:16px;
	line-height: 19.2px;
	margin: 20px 10px 40px 0;
	padding: 5px 15px 5px 15px;
	border-radius: 60px;
	border: 1px solid #1D6154;
	background-color: white;
	color:#1D6154;
	position: relative;
	left: 30%;
}

.activated {
	background-color:#1D6154;
	color:white;
}

#divProjets{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
}

#modalEdition {
	padding-left: 10px;
}

.gallery {
	width: 100%;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

h3 {
	margin-top: 10px;
}

#contact {
	width: 50%;
	margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* Page de login */

#login {
	width: 50%;
	margin: auto;
}
#login > * {
	text-align: center;

}
#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 1em 0;
}
#login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
	display: flex;
	justify-content: center;
}

#login p{
	text-align: center;
	height: 50px;
	font-size: 1.2em;
}

/* Page modale 

/* The Modal (background) */
.modal {
	position: fixed; /* Stay in place */
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;  /*Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	/*background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  }
  
  /* Modal Content/Box */
  .modalContent {
	background-color: #fff;
	width: 600px;
	max-width: calc(100vw-20px);
	max-height: calc(100vh-20px);
	padding: 50px;
	overflow: auto; /* Enable scroll if needed */
  }
  
  /*The Close Button */
  .closeModal {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .closeModal:hover,
  .closeModal:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
  }

  .modalContent button {
	display:flex;
	
  }

  #ajout-image {
	background-color: #1D6154;
	color:#fff;
	margin: 20px 0px 10px 0px;
  }

  #supprimer-gallery{
	color:red;
	border:none;
	font-weight: 400;
	margin: 0;
  }
  
  .modalGallery{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
  }

  .figureModal{
	width: 20%;
	display: grid;
	justify-content: center;
	margin-bottom: 5px;
  }

.imgModal{
	position: relative;
}
.figCaption{
	position: relative;
}

  .deleteTrashIcon{
	position: absolute;
	padding: 5px;
	margin: 5px 0 0 80px;
	background-color: black;
	color: #fff;
  }


  /* Form photos */

#ajoutPhoto-form {
	width: 80%;
	margin: auto;
	display: grid;
}

#imgContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 20px 0 20px 0;
	background-color: #E8F1F6;

}

.ajoutPhotoIcon{
	font-size: 50px;
	color: 	#B9C5CC;
	
}

#imgPreview {
	width: 100px;
}



#ajoutPhotoLabel{
	font-family: 'Syne';
	font-weight: 700;
	color: #306685;
	background-color:#CBD6DC;
	margin : 2em auto ;
	width: 180px;
	line-height: 50px;
	text-align: center;
	border-radius: 60px ;
	display: flex;
	justify-content: center;
}

#ajoutPhoto-form input, select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#ajoutPhoto-form label {
	margin: 2em 0 1em 0;
}
#ajoutPhoto-form textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#categoriePhoto{
	color: black;
}

.validerBtnFalse{
	background-color:#A7A7A7;
}

.validerBtnTrue{
	background-color: #1D6154;
	color:#fff;
}

